@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --primary-black: black;
    --secondary-black: #171a1c;
    --white: #fff;
    --blue:#4070F4;
    --section-background: #24272e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--section-background);
    overflow: hidden;
}

section{
    
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: auto;

}

.container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}


/* Text Animation */
.container .text{
    position: relative;
    color: #4070F4;
    font-size: 40px;
    font-weight: 600;
}

.container .text.first-text{
    color: var(--white);
}

.text.text.second-text::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--section-background);
    border-left: 2px solid #4070F4;
    animation: animate 3s steps(12) infinite;
}

@keyframes animate {
    40%, 60% {
        left: calc(100% + 2px);

    }
    100%{
        left: 0%;
    }


}

/* Calculator */

.container2{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.calculator{
    position: relative;
    height: auto;
    width: auto;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    
    display: grid;
    z-index: 5;
}

.calculator h2{
    color: var(--blue);
    margin: 5px;
    display: inline;
    
}



/* Display Screen */
#display{
    margin: 0 10px;
    height: 130px;
    width: auto;
    max-width: 270px;
    text-align: end;
    font-size: 32px;
    margin-bottom: 20px;
    border: none;
    outline: none;

    color: var(--white);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}



/* Buttons */
.calculator button{
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 26px;
    cursor: pointer;
    transition: all 200ms ease;

}

.calculator button{
    background-color: var(--secondary-black);
}

.calculator button:hover{
    scale: calc(0.95);
    background-color: #23272e;
}

.calculator button#equal:hover{
    background-color: #5d82e7
}


/* DARK MODE */
.calculator{
    background-color: var(--primary-black);
}

.calculator #display{
    background-color: var(--primary-black);
}


.calculator .btn-number{
    color: var(--white);
}

.calculator .btn-operator{
    color: var(--blue);
}

.calculator button#equal{
    background-color: var(--blue);
    color: var(--white);
}

.calculator #clear, #back{
    color: rgb(239, 92, 92);
}

